html
  head
    title="JamSesh"
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    script.
      var props = '#{props}';
      while(props.indexOf('&quot;') !== -1) {
        props = props.replace('&quot;', '"');
      }
      window.__INITIAL_STATE__ = props;


    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

  body
    div(id='react-app', data-current-user=props)

  script(src='/js/facebook.js')
  script(src='css/bundle.css')
  if (env === 'production')
    script(src='js/dist/main.bundle.js', defer)
  else
    script(src='http://localhost:8081/main.bundle.js', defer)
