@import 'variables';

:local {
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    margin: 0 6px 0 0;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    vertical-align: top;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

  .active-tab {
    background: @green;
    color: @white;

    svg {
      fill: @white;
    }
  }

  .active-tab:hover {
    color: @white !important;
  }

  .current-user {
    box-sizing: border-box;
    padding: 8px;
    text-align: center;
    width: 100%;
  }

  .current-avatar {
    border-radius: 50%;
    height: 40px;
    margin: 0 0 4px;
    width: 40px;
  }

  .current-name {
    font: @middle-font;
  }

  .navigation-content {
    background: @white;
    box-shadow: 1px 5px 3px -1px rgba(0, 0, 0, 0.4);
    bottom: 0;
    position: fixed;
    left: 0;
    top: 44px;
    width: 250px;
  }
    
  .navigation-options {
    border-top: 1px solid @grey-light;
    width: 100%;
  }
    
  .navigation-option {
    cursor: pointer;
    flex: 1;
    font: @medium-font;
    font-variant-ligatures: no-common-ligatures;
    line-height: @medium-font-size;
    padding: 12px 24px;
    text-align: left;

    svg {
      height: 18px;
      margin: 0 6px 0 0;
      vertical-align: top;
      width: 18px;
    }

    &:hover {
      color: @green;
      cursor: pointer;

      svg {
        color: @green;
      }
    }
  }

  .suboptions {
    color: black;
  }

  .suboptions-option {
    padding: 8px 12px 0;

    &:hover {
      color: @green;
    }
  }
}