@font-face {
  font-family: 'Playfair';
  src: url('/fonts/PlayfairDisplay-Regular.ttf');
}
@font-face {
  font-family: 'Poiret';
  src: url('/fonts/PoiretOne-Regular.ttf');
}
@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Light.ttf');
}
@font-face {
  font-family: 'Ubuntu-Italic';
  src: url('/fonts/Ubuntu-MediumItalic.ttf');
}
@font-face {
  font-family: 'Icomoon';
  src: url('/fonts/icomoon.ttf');
}
@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Open Sans Semibold';
  src: url('/fonts/OpenSans-Semibold.ttf');
}
@font-face {
  font-family: 'Museo Sans';
  src: url('/fonts/MuseoSans_500-webfont.ttf');
}
@font-face {
  font-family: 'Cyntho';
  src: url('/fonts/CynthoPro-Regular-webfont.ttf');
}
@font-face {
  font-family: 'Bariol';
  src: url('/fonts/Bariol_Regular.otf');
}
@font-face {
  font-family: 'Fenix';
  src: url('/fonts/Fenix-Regular.ttf');
}
@font-face {
  font-family: 'Garamond';
  src: url('/fonts/EBGaramond-Regular.ttf');
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('/fonts/SourceSansPro-Regular.otf');
}
@font-face {
  font-family: 'Source Sans Pro Light';
  src: url('/fonts/SourceSansPro-Light.otf');
}
@font-face {
  font-family: 'Libre Franklin Regular';
  src: url('/fonts/LibreFranklin-Regular.otf');
}
@font-face {
  font-family: 'Libre Franklin Light';
  src: url('/fonts/LibreFranklin-Thin.otf');
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  src: url('/fonts/Roboto-Thin.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 200;
  src: url('/fonts/Roboto-Light.ttf');
}
@font-face {
  font-family: 'Roboto Bold';
  font-weight: 700;
  src: url('/fonts/Roboto-Bold.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  src: url('/fonts/Roboto-Italic.ttf');
}
/** same as light-normal **/
.auth-container {
  border: 1px solid #b1b1b1;
  border-radius: 4px;
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 50px;
  text-align: center;
  top: 0;
  transition: all 0.2s cubic-bezier(0, 1.1, 1, 1);
  width: 275px;
}
.login-container,
.register-container {
  font-family: 'Ubuntu';
  border-radius: 2px;
}
.login-container__header,
.register-container__header {
  background: #f46b45;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f46b45, #eea849);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f46b45, #eea849);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font: 16px BlinkMacSystemFont;
  line-height: 48px;
  text-align: center;
}
.login-container .signin-form,
.register-container .signin-form,
.login-container .register-form,
.register-container .register-form {
  left: 0;
  margin: 25px auto 10px;
  overflow: hidden;
  right: 0;
  top: 25px;
  width: 200px;
}
.login-container .signin-form__username,
.register-container .signin-form__username,
.login-container .register-form__username,
.register-container .register-form__username,
.login-container .signin-form__password,
.register-container .signin-form__password,
.login-container .register-form__password,
.register-container .register-form__password,
.login-container .signin-form__password__verify,
.register-container .signin-form__password__verify,
.login-container .register-form__password__verify,
.register-container .register-form__password__verify {
  border: 1px solid #b1b1b1;
  border-radius: 2px;
  font-size: 16px;
  line-height: 20px;
  margin: 10px 0;
  outline: none;
  padding: 5px;
  width: 100%;
}
.login-container .signin-form__submit-button,
.register-container .signin-form__submit-button,
.login-container .register-form__submit-button,
.register-container .register-form__submit-button {
  background: none;
  border: 1px solid #b1b1b1;
  border-radius: 2px;
  cursor: pointer;
  float: right;
  height: 30px;
  padding: 5px;
}
.login-container .signin-form__submit-button:hover,
.register-container .signin-form__submit-button:hover,
.login-container .register-form__submit-button:hover,
.register-container .register-form__submit-button:hover {
  background: #5C8CA7;
}
.login-container .button-container,
.register-container .button-container {
  left: 0;
  margin: auto;
  right: 0;
  width: 200px;
}
.login-container .button-container__open-register,
.register-container .button-container__open-register {
  color: #5C8CA7;
  margin: 15px 0 0;
  text-align: center;
}
.login-container .button-container__submit-button,
.register-container .button-container__submit-button {
  background: #3B5998;
  color: white;
}
.login-container .button-container__submit-button:hover,
.register-container .button-container__submit-button:hover {
  background: #5772AC;
  color: #ffffff;
}
.login-container .button-container__submit-button,
.register-container .button-container__submit-button,
.login-container .button-container__open-register,
.register-container .button-container__open-register {
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-size: 16px;
  height: 30px;
  width: 100%;
}
body {
  /**background-image: url('/images/ted-background.jpg');**/
  background-size: cover;
  font-family: sans-serif;
  margin: 0;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
.testing-horizontal {
  width: 100%;
  height: 3px;
  background: black;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
}
.testing-vertical {
  width: 3px;
  height: 100%;
  background: black;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
}
@-webkit-keyframes blink {
  0% {
    border-right: 2px solid #ffffff;
  }
  49% {
    border-right: 2px solid #ffffff;
  }
  50% {
    border-right: 2px solid transparent;
  }
  99% {
    border-right: 2px solid transparent;
  }
  100% {
    border-right: 2px solid #ffffff;
  }
}
@keyframes blink {
  0% {
    border-right: 2px solid #ffffff;
  }
  49% {
    border-right: 2px solid #ffffff;
  }
  50% {
    border-right: 2px solid transparent;
  }
  99% {
    border-right: 2px solid transparent;
  }
  100% {
    border-right: 2px solid #ffffff;
  }
}
.navbar {
  background: #f46b45;
  /* fallback for old browsers */
  font: 200 16px 'Roboto';
  height: 44px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  -webkit-box-shadow: 0px -3px 8px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -3px 8px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -3px 8px 2px rgba(0, 0, 0, 0.75);
}
.navbar button {
  float: right;
  font: inherit;
}
.navbar .signin-dialog {
  background: white;
  left: 0;
  margin: 100px auto;
  position: absolute;
  right: 0;
  width: 300px;
  z-index: 2;
}
.navbar .home-button {
  color: #ffffff;
  float: left;
  font: 200 24px 'Lobster';
  height: 44px;
  line-height: 44px;
  padding: 0 60px 0 28px;
  width: 100px;
}
.navbar .signin-background {
  background: rgba(204, 204, 204, 0.5);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.navbar a {
  color: inherit;
  text-decoration: none;
}
.navbar .user-options {
  background: rgba(0, 0, 0, 0.59);
  color: white;
  position: absolute;
  right: 0;
  top: 44px;
  width: 200px;
  z-index: 2;
}
.navbar .user-options .dropdown-button {
  font: 200 16px 'Roboto';
  height: 48px;
  line-height: 48px;
  text-align: center;
  width: 100%;
  z-index: 2;
}
.navbar .user-options .dropdown-button:hover {
  background: #5C8CA7;
  border: none;
  color: white;
  font: 200 16px 'Roboto';
  line-height: 48px;
}
.navbar .signin-button {
  border: 1px solid #ffffff;
  border-radius: 2px;
  color: #ffffff;
  float: right;
  font: 200 16px 'Roboto';
  height: 28px;
  letter-spacing: .5px;
  line-height: 28px;
  margin: 8px 24px 8px 0;
  text-align: center;
  width: 100px;
  z-index: 2;
}
.navbar .signin-button:hover {
  background: #5C8CA7;
  border-color: transparent;
  color: white;
  font: 200 16px 'Roboto';
  line-height: 28px;
}
.navbar .home {
  background: url('/images/harmburger.svg') no-repeat center;
  background-size: 44px;
  border-right: 1px solid #ccc;
  cursor: pointer;
  font-family: 'Bariol';
  height: 44px;
  float: right;
  line-height: 44px;
  text-align: center;
  width: 76px;
}
.home-container .main-content {
  font-family: 'Garamond';
  margin: 44px 0 0;
  position: relative;
  width: 100%;
}
@media (min-width: 1350px) {
  .home-container .main-content .header {
    background-position-y: -200px !important;
  }
}
.home-container .main-content .header {
  background: url('/images/musician_fog_3.jpg');
  background-size: cover;
  border-bottom: 1px solid #ccc;
  color: #ffffff;
  margin: auto;
  position: relative;
  text-align: left;
}
.home-container .main-content .header .header-container {
  background: rgba(0, 0, 0, 0.15);
  min-height: 400px;
}
.home-container .main-content .header .header-container__title {
  font: 200 100px 'Lobster';
  font-size: 5em;
  letter-spacing: 4px;
  margin: 0;
  padding: 100px 100px 0;
}
.home-container .main-content .header .header-container__title .cursor {
  animation: blink 1s infinite;
  -webkit-animation: blink 1s infinite;
}
.home-container .main-content .header .header-container__sub-title {
  font-size: 2em;
  letter-spacing: .5px;
  margin: 0 0 16px;
  padding: 0 100px;
}
.home-container .main-content .header .header-container .demo-container {
  bottom: 10px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
}
.home-container .main-content .header .header-container .demo-container__button {
  background: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font: 200 16px 'Roboto';
  height: 40px;
  width: 150px;
}
.home-container .main-content .header .header-container .account-registration {
  display: flex;
  padding: 0 100px 150px;
  width: 600px;
}
.home-container .main-content .header .header-container .account-registration .register-button {
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #ffffff;
  font: 200 16px 'Roboto';
  height: 40px;
  letter-spacing: .5px;
  padding: 4px;
  width: 120px;
  background-color: #5C8CA7;
}
.home-container .main-content .header .header-container .account-registration .register-button:hover {
  background-color: #ffffff;
  color: #eea849;
}
.home-container .main-content .header .header-container .account-registration .signin-button {
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font: 200 16px 'Roboto';
  height: 40px;
  margin: 0 10px;
  padding: 4px;
  width: 120px;
}
.home-container .main-content .header .header-container .account-registration .signin-button:hover {
  background-color: #ffffff;
  color: #eea849;
}
.home-container .main-content .header .header-container .account-registration__component,
.home-container .main-content .header .header-container .account-registration__submit {
  flex: 3;
}
.home-container .main-content .header .header-container .account-registration__component .email,
.home-container .main-content .header .header-container .account-registration__submit .email,
.home-container .main-content .header .header-container .account-registration__component .password,
.home-container .main-content .header .header-container .account-registration__submit .password,
.home-container .main-content .header .header-container .account-registration__component .submit-button,
.home-container .main-content .header .header-container .account-registration__submit .submit-button {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  height: 32px;
  margin: auto;
  padding: 4px;
}
.home-container .main-content .header .header-container .account-registration__component .submit-button,
.home-container .main-content .header .header-container .account-registration__submit .submit-button {
  cursor: pointer;
  font-family: 'Garamond';
  width: 120px;
}
.home-container .main-content .header .header-container .account-registration__component .email,
.home-container .main-content .header .header-container .account-registration__submit .email,
.home-container .main-content .header .header-container .account-registration__component .password,
.home-container .main-content .header .header-container .account-registration__submit .password {
  font-family: 'Garamond';
  width: 200px;
}
.home-container .main-content .header .header-container .account-registration__submit {
  flex: 1;
}
.home-container .main-content .connect,
.home-container .main-content .create,
.home-container .main-content .collaborate {
  display: flex;
  height: 500px;
  padding: 20px;
}
.home-container .main-content .connect .graphic,
.home-container .main-content .create .graphic,
.home-container .main-content .collaborate .graphic {
  flex: 1;
}
.home-container .main-content .connect .content,
.home-container .main-content .create .content,
.home-container .main-content .collaborate .content {
  flex: 1;
  font-size: 20px;
  line-height: 32px;
}
.home-container .main-content .collaborate {
  background: url('/images/people-woman-coffee-meeting.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.home-container .main-content .collaborate .content {
  background: rgba(0, 0, 0, 0.69);
  color: white;
  padding: 20px;
}
.editor-container {
  display: flex;
  font: 500 16px 'Bariol';
}
.editor-container .editor {
  background: white;
  border: 10px solid black;
  flex: 3;
  height: 80%;
  margin: 20px;
  padding: 10px;
}
.editor-container .editor editor-line.selected {
  outline: none;
}
.editor-container .editor .editor-line,
.editor-container .editor .editor-recording {
  min-height: 20px;
  pointer-events: all;
  margin-bottom: 8px;
  margin-top: 2px;
}
.editor-container .editor .editor-chord-line {
  min-height: 20px;
  pointer-events: all;
  font: bold 14px arial;
  margin: 6px auto 0;
}
.editor-container .editor .editor-chord-line {
  animation-name: blink;
  animation-duration: 4s;
  animation-timing-function: step-end;
  animation-iteration-count: 1;
  outline: none;
}
.editor-container .editor .editor-chord-container {
  position: relative;
}
.editor-container .editor .editor-chord-container .editor-chord {
  animation-name: blinkCursor;
  animation-duration: .5s;
  animation-timing-function: step-end;
  animation-iteration-count: 1;
  font: bold 14px arial;
  position: absolute;
  top: -15px;
  left: 0;
}
.editor-container .editor .editor-chord-container .editor-chord:focus {
  outline: none;
}
.editor-container .editor .editor-chord-container .editor-chord:empty::before {
  content: 'chord';
  color: #CCC;
  font-size: 12;
  font-weight: normal;
}
.editor-container .editor .editor-tooltip {
  background-image: radial-gradient(ellipse 100px 30px, #666 40%, #111);
  border-radius: 5px;
  display: inline-flex;
  height: 25px;
  width: 120px;
}
.editor-container .editor .editor-tooltip:after {
  border-top: solid 8px #444;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
  content: '';
  position: absolute;
  top: 90%;
  left: 2px;
}
.editor-container .editor .editor-tooltip .tooltip-option {
  margin: auto 0;
  padding: 0 4px;
  color: #F5F5F5;
  cursor: pointer;
  border-left: 1px solid white;
  pointer-events: all;
}
.editor-container .editor .editor-tooltip .tooltip-option:first-child {
  border-left: none;
}
@keyframes blinkCursor {
  50% {
    border-color: #000;
  }
}
.editor-container .record {
  left: 0;
  position: absolute;
}
.editor-container .messages-container {
  border-radius: 4px;
  box-shadow: -1px 0px 7px 2px rgba(0, 0, 0, 0.5);
  font: 13px;
  height: 100%;
  position: relative;
  width: 350px;
}
.editor-container .messages-container .messages-wrapper {
  bottom: 0;
  position: absolute;
  width: 100%;
}
.editor-container .messages-container .messages-wrapper .message-feed {
  font: 500 13px 'Cyntho';
  list-style: none;
  padding: 5px;
}
.editor-container .messages-container .messages-wrapper .message-feed__message {
  background: rgba(0, 128, 236, 0.4);
  border-radius: 4px;
  border-bottom-left-radius: 0;
  margin: 15px 55px 0 45px;
  padding: 4px;
}
.editor-container .messages-container .messages-wrapper .message-feed__message--me {
  background: #eee;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  margin: 15px 45px 0 55px;
}
.editor-container .messages-container .messages-wrapper .message-feed .message-collection {
  margin: 0 55px 0 0;
}
.editor-container .messages-container .messages-wrapper .message-feed .top-message {
  border-bottom-right-radius: 0;
}
.editor-container .messages-container .messages-wrapper .message-feed .middle-message {
  border-radius: 0;
}
.editor-container .messages-container .messages-wrapper .message-feed .bottom-message {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.editor-container .messages-container .messages-wrapper .message-reply-editor {
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 2px solid #b1b1b1;
  font: 500 13px 'Cyntho';
  height: 50px;
  outline: none;
  padding: 10px;
  resize: none;
  width: 100%;
}
.editor-container .section {
  min-height: 50px;
  pointer-events: none;
  outline: none;
}
.editor {
  background: white;
  border: 10px solid black;
  flex: 3;
  height: 80%;
  margin: 20px;
  padding: 10px;
}
.editor editor-line.selected {
  outline: none;
}
.editor .editor-line,
.editor .editor-recording {
  min-height: 20px;
  pointer-events: all;
}
.section {
  min-height: 50px;
  pointer-events: none;
  outline: none;
}
.record-button {
  background-image: radial-gradient(#585656 20%, red 20%);
  border-radius: 25px;
  box-shadow: inset 0px 0.5px 0.5px 0px rgba(250, 250, 250, 0.2), inset 0px -6px 18px 0px rgba(0, 0, 0, 0.5);
  height: 25px;
  width: 25px;
  display: inline-block;
}
.stop-button {
  background: red;
  border-radius: 3px;
  box-shadow: inset 0px 0.5px 0.5px 0px rgba(250, 250, 250, 0.2), inset 0px -6px 18px 0px rgba(0, 0, 0, 0.5);
  height: 25px;
  width: 25px;
  display: inline-block;
}
.song-list-item {
  border-bottom: 1px solid #f6f7f8;
  color: #ccc;
  margin: 4px 4px 4px 4px;
  padding: 4px 4px 4px 4px;
}
.song-list-item-date,
.song-list-item-title {
  color: #ccc;
  display: inline-block;
  min-width: 15%;
  margin: 0 4px 0 4px;
}
.event-controller-container {
  height: 100%;
  width: 100%;
}
.event-controller-container .create-event-container {
  display: flex;
  height: 100%;
  min-height: 500px;
  width: 100%;
}
.event-controller-container .create-event-container .event-form {
  flex: 3;
  text-align: center;
}
.event-controller-container .create-event-container .event-form .event-form-wrapper {
  margin: 50px auto;
  text-align: left;
  width: 90%;
}
.event-controller-container .create-event-container .event-form .event-form-wrapper input {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  line-height: 32px;
  margin: 2px 0 10px;
  padding: 0 5px;
  width: 100%;
}
.event-controller-container .create-event-container .event-form .event-form-wrapper label {
  font-size: 13px;
  padding: 0 4px;
}
.event-controller-container .create-event-container .event-form .event-form-wrapper textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  height: 150px;
  resize: none;
  width: 100%;
}
.event-controller-container .create-event-container .event-form .event-form-wrapper .submit-event {
  background: #5C8CA7;
  border: none;
  border-radius: 4px;
  color: white;
  float: right;
  font-size: 13px;
  height: 32px;
  margin: 10px 0;
  width: 75px;
}
.event-controller-container .create-event-container .event-form .event-form-wrapper .submit-event:hover {
  background: #08599C;
  cursor: pointer;
}
.event-controller-container .create-event-container .event-form .event-form-wrapper .submit-event:disabled {
  background: grey;
}
.event-controller-container .create-event-container .event-form .event-form-wrapper .submit-event:disabled:hover {
  background: grey;
}
.event-controller-container .create-event-container #map {
  flex: 7;
}
.event-controller-container .create-event-container .loader {
  height: 100%;
  width: 100%;
}
.event-controller-container .create-event-container .loader .spinner {
  background: red;
  bottom: 0;
  height: 50px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  z-index: 2;
}
.event-controller-container .events-container {
  height: 100%;
  width: 100%;
}
.event-controller-container .events-container .view-toggle-bar {
  border-bottom: 1px solid #ccc;
  height: 56px;
}
.event-controller-container .events-container .view-toggle-bar .toggle {
  height: 100%;
  margin: auto;
  position: relative;
  width: 200px;
}
.event-controller-container .events-container .view-toggle-bar .toggle__option {
  background: transparent;
  cursor: pointer;
  height: 100%;
  text-align: center;
  width: 50%;
}
.event-controller-container .events-container .view-toggle-bar .toggle .list-view {
  float: left;
}
.event-controller-container .events-container .view-toggle-bar .toggle .map-view {
  float: right;
}
.event-controller-container .events-container .view-toggle-bar .toggle .highlight {
  background-color: green;
  position: absolute;
  z-index: -1;
}
.event-controller-container .events-container .events-map-container {
  display: flex;
  width: 100%;
}
.event-controller-container .events-container .events-map-container #map {
  flex: 7;
  height: 100%;
}
.event-controller-container .events-container .events-map-container .maps-list-view {
  flex: 3;
}
.event-controller-container .events-container .events-map-container .map-search {
  left: 20px;
  position: absolute;
  top: 20px;
}
.profile-one {
  width: 100%;
}
.profile-one .navbar {
  border-bottom: 1px solid #ccc;
  height: 56px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
}
.profile-one .profile-container {
  display: flex;
  height: 100%;
}
.profile-one .profile-container .user-info-container {
  flex: 1 1 280px;
  font-family: 'Source Sans Pro Light';
  text-align: left;
  -webkit-flex: 1 1 280px;
  /*background: rgba(242, 185, 56, 0.7);*/
  /* background: rgba(67, 141, 156, 0.6); */
  /* background-color: rgba(28, 155, 193, 0.4); */
  background-color: #1EBBA6;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}
.profile-one .profile-container .user-info-container .action-container {
  margin: 10px;
  padding: 15px;
  text-align: center;
}
.profile-one .profile-container .user-info-container .action-container a {
  text-decoration: none;
}
.profile-one .profile-container .user-info-container .action-container .action {
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: white;
  display: inline-block;
  padding: 4px;
  margin: 8px;
  width: 70px;
}
.profile-one .profile-container .user-info-container .user-info {
  background: rgba(67, 141, 156, 0.6);
  padding: 15px;
  color: white;
}
.profile-one .profile-container .user-info-container .user-info__username {
  font-size: 24px;
  letter-spacing: .5;
  padding: 10px;
}
.profile-one .profile-container .user-info-container .user-info__events {
  padding: 10px 0 0;
}
.profile-one .profile-container .user-info-container .user-info__name {
  display: inline;
}
.profile-one .profile-container .user-info-container .user-info__location {
  display: inline;
}
.profile-one .profile-container .user-info-container .user-info__followers {
  padding: 0 0 10px;
}
.profile-one .profile-container .user-info-container .user-info__avatar {
  padding: 20px 0;
  text-align: center;
}
.profile-one .profile-container .user-info-container .user-info__avatar img {
  border-radius: 4px;
  height: 75px;
  width: 75px;
  border: 4px solid #fff;
}
.profile-one .profile-container .user-display-container {
  flex: 10 600px;
  -webkit-flex: 10 600px;
}
.profile-two {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 100%;
}
.profile-two .navbar {
  background: #f46b45;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f46b45, #eea849);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f46b45, #eea849);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 56px;
  width: 100%;
  flex: 0 1 56px;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
}
.profile-two .profile-container {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
}
.profile-two .profile-container .user-info-container {
  flex: 1 0 280px;
  font-family: 'Source Sans Pro Light';
  text-align: center;
  -webkit-flex: 1 0 280px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}
.profile-two .profile-container .user-info-container .action-container {
  text-align: center;
}
.profile-two .profile-container .user-info-container .action-container a {
  text-decoration: none;
}
.profile-two .profile-container .user-info-container .action-container .action {
  border: 1px solid #5C8CA7;
  border-radius: 4px;
  color: #5C8CA7;
  display: inline-block;
  padding: 4px;
  margin: 8px;
  width: 70px;
}
.profile-two .profile-container .user-info-container .action-container .action:hover {
  background: #5C8CA7;
  color: white;
}
.profile-two .profile-container .user-info-container .user-info-actions {
  border-bottom: 1px solid #F57A34;
  display: flex;
  position: relative;
}
.profile-two .profile-container .user-info-container .user-info-actions .after {
  border-bottom: 10px solid #F57A34;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  bottom: 0;
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
}
.profile-two .profile-container .user-info-container .user-info-actions__followers,
.profile-two .profile-container .user-info-container .user-info-actions__events,
.profile-two .profile-container .user-info-container .user-info-actions__following {
  display: inline-block;
  flex: 1;
  padding: 10px 0;
  text-decoration: none;
  color: #5C8CA7;
}
.profile-two .profile-container .user-info-container .user-info-actions__followers:hover,
.profile-two .profile-container .user-info-container .user-info-actions__events:hover,
.profile-two .profile-container .user-info-container .user-info-actions__following:hover {
  background: #F57A34;
  color: white;
}
.profile-two .profile-container .user-info-container .user-info-actions__following {
  border-right: none;
}
.profile-two .profile-container .user-info-container .information-container {
  list-style: none;
  margin: 0;
  max-height: 500px;
  overflow: scroll;
  padding: 0;
}
.profile-two .profile-container .user-info-container .information-container li {
  display: block;
}
.profile-two .profile-container .user-info-container .information-container .user {
  border-bottom: 1px solid #cccccc;
  padding: 10px;
  text-align: left;
}
.profile-two .profile-container .user-info-container .information-container .user img {
  background: black;
  height: 40px;
  width: 40px;
}
.profile-two .profile-container .user-info-container .information-container .user .user-information {
  display: inline-block;
  font-size: 14px;
  padding: 0 10px;
  vertical-align: top;
}
.profile-two .profile-container .user-info-container .user-info {
  padding: 15px;
  border-top: 1px solid #F57A34;
  border-bottom: 1px solid #F57A34;
}
.profile-two .profile-container .user-info-container .user-info__username {
  font-size: 20px;
  letter-spacing: .5;
}
.profile-two .profile-container .user-info-container .user-info__events {
  padding: 10px 0 0;
}
.profile-two .profile-container .user-info-container .user-info__name {
  display: inline;
}
.profile-two .profile-container .user-info-container .user-info__location {
  display: inline;
}
.profile-two .profile-container .user-info-container .user-info__followers {
  padding: 0 0 10px;
}
.profile-two .profile-container .user-info-container .user-info__avatar {
  padding: 20px 0;
}
.profile-two .profile-container .user-info-container .user-info__avatar img {
  border-radius: 4px;
  height: 75px;
  width: 75px;
  border: 2px solid #AAAAAA;
}
.profile-two .profile-container .user-display-container {
  flex: 10 320px;
  -webkit-flex: 10 320px;
}
.profile-three {
  width: 100%;
}
.profile-three .navbar {
  background: #f46b45;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f46b45, #eea849);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f46b45, #eea849);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 56px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
}
.profile-three .profile-container {
  display: flex;
  height: 100%;
}
.profile-three .profile-container .user-info-container {
  flex: 1 1 280px;
  font-family: 'Source Sans Pro';
  text-align: center;
  -webkit-flex: 1 1 280px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}
.profile-three .profile-container .user-info-container .action-container {
  margin: 10px;
  padding: 15px;
  text-align: center;
}
.profile-three .profile-container .user-info-container .action-container a {
  text-decoration: none;
}
.profile-three .profile-container .user-info-container .action-container .action {
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: white;
  display: inline-block;
  padding: 4px;
  margin: 8px;
  width: 70px;
}
.profile-three .profile-container .user-info-container .user-info {
  border-top: 1px solid #5C8CA7;
  border-bottom: 1px solid #5C8CA7;
  display: flex;
}
.profile-three .profile-container .user-info-container .user-info__followers,
.profile-three .profile-container .user-info-container .user-info__events,
.profile-three .profile-container .user-info-container .user-info__following {
  display: inline-block;
  border-right: 1px solid #5C8CA7;
  flex: 1;
  padding: 10px 0;
  text-decoration: none;
  color: #5C8CA7;
}
.profile-three .profile-container .user-info-container .user-info__username {
  font-size: 20px;
  letter-spacing: .5;
  padding: 10px 0 0;
}
.profile-three .profile-container .user-info-container .user-info__following {
  border-right: none;
}
.profile-three .profile-container .user-info-container .user-info__name,
.profile-three .profile-container .user-info-container .user-info__location {
  font-family: 'Source Sans Pro Light';
  font-size: 16px;
}
.profile-three .profile-container .user-info-container .user-info__avatar {
  text-align: left;
}
.profile-three .profile-container .user-info-container .user-info__avatar img {
  height: 100px;
  width: 100px;
}
.profile-three .profile-container .user-display-container {
  flex: 10 600px;
  -webkit-flex: 10 600px;
}
.profile-four .navbar {
  background: #f46b45;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f46b45, #eea849);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f46b45, #eea849);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 56px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
}
.profile-four .profile-container {
  margin: 44px 0 0;
}
.app-container button {
  background: none;
  border: none;
  border-left: 1px solid #eee;
  color: #ffffff;
  font-size: 14px;
  height: 100%;
  outline: none;
  width: 150px;
}
.app-container .profile-container {
  margin: 44px 320px 0 0;
  position: relative;
}
.app-container .profile-container .profile-header {
  position: relative;
}
.app-container .profile-container .profile-header .filter {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('/images/mountains_fog.jpg');
  background-size: cover;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.app-container .profile-container .profile-header .isLooking {
  background: #5C8CA7;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  color: white;
  font: 200 16px 'Roboto';
  height: 48px;
  left: 20px;
  line-height: 48px;
  position: fixed;
  text-align: center;
  top: 44px;
  width: 200px;
}
.app-container .profile-container .profile-header .uploader {
  display: none;
}
.app-container .profile-container .profile-header .profile {
  box-sizing: border-box;
  color: white;
  font: 200 16px 'Roboto';
  margin: 44px 0 0;
  padding: 20px;
  text-align: center;
  width: 100%;
}
.app-container .profile-container .profile-header .profile__image {
  background-image: url('/images/railroad.jpeg');
  background-position: center;
  background-size: cover;
  border: 2px solid #ffffff;
  border-radius: 50%;
  height: 100px;
  margin: auto;
  width: 100px;
}
.app-container .profile-container .profile-header .profile__name {
  font: 200 48px 'Garamond';
  padding: 8px;
}
.app-container .profile-container .profile-header .profile__title {
  padding: 4px;
}
.app-container .profile-container .profile-header .profile__follow,
.app-container .profile-container .profile-header .profile__message {
  border: none;
  color: #ffffff;
  cursor: pointer;
  font: 200 16px 'Roboto';
  height: 32px;
  margin: 12px;
  width: 100px;
}
.app-container .profile-container .profile-header .profile__follow {
  background: #E79D10;
}
.app-container .profile-container .profile-header .profile__follow:hover {
  background: #D7920F;
}
.app-container .profile-container .profile-header .profile__message {
  background: #F55923;
}
.app-container .profile-container .profile-header .profile__message:hover {
  background: #F3470B;
}
.app-container .profile-container .profile-about {
  padding: 24px;
}
.app-container .profile-container .profile-about__title {
  font: 100 40px 'Roboto';
}
.app-container .profile-container .profile-about__content {
  font: 200 16px 'Roboto';
}
.app-container .profile-container .profile-about__nav-bar {
  border-bottom: 1px solid #eee;
  box-shadow: 0 -3px 8px 0 rgba(0, 0, 0, 0.2);
  height: 44px;
  width: 100%;
}
.app-container .profile-container .profile-about__nav-bar button {
  background: none;
  border: none;
  border-right: 1px solid #eee;
  color: black;
  font: 200 16px 'Roboto';
  height: 44px;
  line-height: 44px;
  width: 100px;
}
.app-container .navigation-sidebar__pullout {
  background: rgba(0, 0, 0, 0.4);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  height: 48px;
  position: fixed;
  right: 0;
  top: 100px;
  width: 38px;
}
.app-container .navigation-sidebar__pullout--is-open {
  right: 320px;
}
.app-container .navigation-sidebar__content {
  background: #ffffff;
  box-shadow: -3px 6px 3px -1px rgba(0, 0, 0, 0.4);
  bottom: 0;
  position: fixed;
  right: 0;
  top: 44px;
  width: 320px;
}
.app-container .navigation-sidebar__content__filter-bar {
  border: 1px solid #eee;
  border-radius: 2px;
  flex: 1;
  font: 200 16px 'Roboto';
  height: 32px;
  line-height: 32px;
  margin: 8px;
  outline: none;
  padding: 4px;
  text-align: center;
}
.app-container .navigation-sidebar__content__filter-bar-container {
  display: flex;
}
.app-container .navigation-sidebar__content__options {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  width: 100%;
}
.app-container .navigation-sidebar__content__options--option {
  cursor: pointer;
  flex: 1;
  font: 200 18px 'Roboto';
  font-variant-ligatures: no-common-ligatures;
  height: 32px;
  line-height: 32px;
  padding: 4px 24px;
  text-align: left;
}
.app-container .navigation-sidebar__content__options--option:hover {
  color: #5C8CA7;
}
.app-container .navigation-sidebar__content__options--option--active {
  color: #5C8CA7;
}
