@font-face {
  font-family: 'Playfair';
  src: url('/fonts/PlayfairDisplay-Regular.ttf');
}
@font-face {
  font-family: 'Poiret';
  src: url('/fonts/PoiretOne-Regular.ttf');
}
@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Light.ttf');
}
@font-face {
  font-family: 'Ubuntu-Italic';
  src: url('/fonts/Ubuntu-MediumItalic.ttf');
}
@font-face {
  font-family: 'Icomoon';
  src: url('/fonts/icomoon.ttf');
}
@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Open Sans Semibold';
  src: url('/fonts/OpenSans-Semibold.ttf');
}
@font-face {
  font-family: 'Museo Sans';
  src: url('/fonts/MuseoSans_500-webfont.ttf');
}
@font-face {
  font-family: 'Cyntho';
  src: url('/fonts/CynthoPro-Regular-webfont.ttf');
}
@font-face {
  font-family: 'Bariol';
  src: url('/fonts/Bariol_Regular.otf');
}
@font-face {
  font-family: 'Fenix';
  src: url('/fonts/Fenix-Regular.ttf');
}
@font-face {
  font-family: 'Garamond';
  src: url('/fonts/EBGaramond-Regular.ttf');
}
.auth-container {
  border: 1px solid #b1b1b1;
  border-radius: 4px;
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 50px;
  text-align: center;
  top: 0;
  transition: all 0.2s cubic-bezier(0, 1.1, 1, 1);
  width: 275px;
}
.login-container__header,
.register-container__header {
  color: white;
  font: 14px BlinkMacSystemFont;
  line-height: 30px;
  background: #569a00;
  text-align: center;
}
.login-container .signin-form,
.register-container .signin-form,
.login-container .register-form,
.register-container .register-form {
  left: 0;
  margin: 25px auto 10px;
  overflow: hidden;
  right: 0;
  top: 25px;
  width: 200px;
}
.login-container .signin-form__username,
.register-container .signin-form__username,
.login-container .register-form__username,
.register-container .register-form__username,
.login-container .signin-form__password,
.register-container .signin-form__password,
.login-container .register-form__password,
.register-container .register-form__password,
.login-container .signin-form__password__verify,
.register-container .signin-form__password__verify,
.login-container .register-form__password__verify,
.register-container .register-form__password__verify {
  border: 1px solid #b1b1b1;
  border-radius: 2px;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
  outline: none;
  padding: 5px;
  width: 100%;
}
.login-container .signin-form__submit-button,
.register-container .signin-form__submit-button,
.login-container .register-form__submit-button,
.register-container .register-form__submit-button {
  background: none;
  border: 1px solid #b1b1b1;
  border-radius: 2px;
  cursor: pointer;
  float: right;
  height: 30px;
  padding: 5px;
}
.login-container .signin-form__submit-button:hover,
.register-container .signin-form__submit-button:hover,
.login-container .register-form__submit-button:hover,
.register-container .register-form__submit-button:hover {
  background: #1a70b8;
}
.login-container .button-container,
.register-container .button-container {
  left: 0;
  margin: auto;
  right: 0;
  width: 200px;
}
.login-container .button-container__open-register,
.register-container .button-container__open-register {
  color: #1a70b8;
  margin: 15px 0 0;
}
.login-container .button-container__submit-button,
.register-container .button-container__submit-button {
  background: #3b5998;
  color: white;
}
.login-container .button-container__submit-button:hover,
.register-container .button-container__submit-button:hover {
  background: #5772ac;
}
.login-container .button-container__submit-button,
.register-container .button-container__submit-button,
.login-container .button-container__open-register,
.register-container .button-container__open-register {
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-size: 14px;
  height: 30px;
  width: 100%;
}
body {
  /**background-image: url('/images/ted-background.jpg');**/
  background-size: cover;
  font-family: sans-serif;
  margin: 0;
}
@keyframes blink {
  0% {
    border-right: 2px solid black;
  }
  49% {
    border-right: 2px solid black;
  }
  50% {
    border-right: 2px solid transparent;
  }
  99% {
    border-right: 2px solid transparent;
  }
  100% {
    border-right: 2px solid black;
  }
}
.home-container .navbar {
  border-bottom: 1px solid #ccc;
  height: 48px;
  width: 100%;
}
.home-container .navbar .signin-dialog {
  background: white;
  bottom: 0;
  height: 300px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  z-index: 2;
}
.home-container .navbar .signin-background {
  background: rgba(204, 204, 204, 0.5);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.home-container .navbar a {
  color: inherit;
  text-decoration: none;
}
.home-container .navbar .user-options {
  border: 1px solid #ccc;
  position: absolute;
  right: 24px;
  top: 48px;
  width: 120px;
  z-index: 2;
}
.home-container .navbar .user-options .dropdown-button {
  font-family: 'Bariol';
  height: 36px;
  line-height: 36px;
  text-align: center;
  width: 100%;
  z-index: 2;
}
.home-container .navbar .user-options .dropdown-button:hover {
  background: #4b6cb7;
  border: none;
  color: white;
  font-family: 'Bariol';
  font-size: 16px;
}
.home-container .navbar .signin-button {
  float: right;
  font-family: 'Bariol';
  height: 48px;
  line-height: 48px;
  margin-right: 24px;
  text-align: center;
  width: 100px;
  z-index: 2;
}
.home-container .navbar .signin-button:hover {
  background: #4b6cb7;
  border: none;
  color: white;
  font-family: 'Bariol';
  font-size: 16px;
}
.home-container .navbar .home {
  background: url('/images/harmburger.svg') no-repeat center;
  background-size: 48px;
  border-right: 1px solid #ccc;
  cursor: pointer;
  font-family: 'Bariol';
  height: 48px;
  float: right;
  line-height: 56px;
  text-align: center;
  width: 76px;
}
.home-container .main-content {
  font-family: 'Garamond';
  height: 100%;
  position: relative;
  width: 100%;
}
.home-container .main-content .header {
  border-bottom: 1px solid #ccc;
  left: 0;
  margin: auto;
  padding: 0 0 100px;
  right: 0;
  text-align: center;
  top: 0;
}
.home-container .main-content .header__title {
  font-size: 5em;
  margin: 20px 0 0;
}
.home-container .main-content .header__title .cursor {
  animation: blink 1.25s infinite;
  -webkit-animation: blink 1.25s infinite;
}
.home-container .main-content .header__sub-title {
  font-size: 2em;
  margin: 0 0 32px;
}
.home-container .main-content .header .account-registration {
  display: flex;
  margin: auto;
  width: 600px;
}
.home-container .main-content .header .account-registration__component,
.home-container .main-content .header .account-registration__submit {
  flex: 3;
}
.home-container .main-content .header .account-registration__component .email,
.home-container .main-content .header .account-registration__submit .email,
.home-container .main-content .header .account-registration__component .password,
.home-container .main-content .header .account-registration__submit .password,
.home-container .main-content .header .account-registration__component .submit-button,
.home-container .main-content .header .account-registration__submit .submit-button {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  height: 32px;
  margin: auto;
  padding: 4px;
}
.home-container .main-content .header .account-registration__component .submit-button,
.home-container .main-content .header .account-registration__submit .submit-button {
  cursor: pointer;
  font-family: 'Garamond';
  width: 120px;
}
.home-container .main-content .header .account-registration__component .email,
.home-container .main-content .header .account-registration__submit .email,
.home-container .main-content .header .account-registration__component .password,
.home-container .main-content .header .account-registration__submit .password {
  font-family: 'Garamond';
  width: 200px;
}
.home-container .main-content .header .account-registration__submit {
  flex: 1;
}
.home-container .main-content .connect,
.home-container .main-content .create {
  display: flex;
  height: 500px;
  padding: 20px;
}
.home-container .main-content .connect .graphic,
.home-container .main-content .create .graphic {
  flex: 1;
}
.home-container .main-content .connect .content,
.home-container .main-content .create .content {
  flex: 1;
  font-size: 20px;
  line-height: 32px;
}
.editor-container {
  display: flex;
  font: 500 14px 'Bariol';
}
.editor-container .editor {
  background: white;
  border: 10px solid black;
  flex: 3;
  height: 80%;
  margin: 20px;
  padding: 10px;
}
.editor-container .editor editor-line.selected {
  outline: none;
}
.editor-container .editor .editor-line,
.editor-container .editor .editor-recording {
  min-height: 20px;
  pointer-events: all;
}
.editor-container .editor .editor-chord-line {
  min-height: 20px;
  pointer-events: all;
  font: bold 14px arial;
}
.editor-container .editor .editor-chord-line {
  animation-name: blink;
  animation-duration: .5s;
  animation-timing-function: step-end;
  animation-iteration-count: 1;
}
@keyframes blink {
  50% {
    border-color: #000;
  }
}
.editor-container .record {
  left: 0;
  position: absolute;
}
.editor-container .messages-container {
  border-radius: 4px;
  box-shadow: -1px 0px 7px 2px rgba(0, 0, 0, 0.5);
  font: 13px;
  height: 100%;
  position: relative;
  width: 350px;
}
.editor-container .messages-container .messages-wrapper {
  bottom: 0;
  position: absolute;
  width: 100%;
}
.editor-container .messages-container .messages-wrapper .message-feed {
  font: 500 13px 'Cyntho';
  list-style: none;
  padding: 5px;
}
.editor-container .messages-container .messages-wrapper .message-feed__message {
  background: rgba(0, 128, 236, 0.4);
  border-radius: 4px;
  border-bottom-left-radius: 0;
  margin: 15px 55px 0 45px;
  padding: 4px;
}
.editor-container .messages-container .messages-wrapper .message-feed__message--me {
  background: #eeeeee;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  margin: 15px 45px 0 55px;
}
.editor-container .messages-container .messages-wrapper .message-feed .message-collection {
  margin: 0 55px 0 0;
}
.editor-container .messages-container .messages-wrapper .message-feed .top-message {
  border-bottom-right-radius: 0;
}
.editor-container .messages-container .messages-wrapper .message-feed .middle-message {
  border-radius: 0;
}
.editor-container .messages-container .messages-wrapper .message-feed .bottom-message {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.editor-container .messages-container .messages-wrapper .message-reply-editor {
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 2px solid #b1b1b1;
  font: 500 13px 'Cyntho';
  height: 50px;
  outline: none;
  padding: 10px;
  resize: none;
  width: 100%;
}
.editor-container .section {
  min-height: 50px;
  pointer-events: none;
  outline: none;
}
.editor {
  background: white;
  border: 10px solid black;
  flex: 3;
  height: 80%;
  margin: 20px;
  padding: 10px;
}
.editor editor-line.selected {
  outline: none;
}
.editor .editor-line,
.editor .editor-recording {
  min-height: 20px;
  pointer-events: all;
}
.section {
  min-height: 50px;
  pointer-events: none;
  outline: none;
}
.record-button {
  background-image: radial-gradient(#585656 20%, red 20%);
  border-radius: 25px;
  box-shadow: inset 0px 0.5px 0.5px 0px rgba(250, 250, 250, 0.2), inset 0px -6px 18px 0px rgba(0, 0, 0, 0.5);
  height: 25px;
  width: 25px;
  display: inline-block;
}
.stop-button {
  background: red;
  border-radius: 3px;
  box-shadow: inset 0px 0.5px 0.5px 0px rgba(250, 250, 250, 0.2), inset 0px -6px 18px 0px rgba(0, 0, 0, 0.5);
  height: 25px;
  width: 25px;
  display: inline-block;
}
.song-list-item {
  border-bottom: 1px solid #f6f7f8;
  color: #ccc;
  margin: 4px 4px 4px 4px;
  padding: 4px 4px 4px 4px;
}
.song-list-item-date,
.song-list-item-title {
  color: #ccc;
  display: inline-block;
  min-width: 15%;
  margin: 0 4px 0 4px;
}
.event-controller-container {
  height: 100%;
  width: 100%;
}
.event-controller-container .create-event-container {
  display: flex;
  height: 100%;
  min-height: 500px;
  width: 100%;
}
.event-controller-container .create-event-container .event-form {
  flex: 3;
  text-align: center;
}
.event-controller-container .create-event-container .event-form .event-form-wrapper {
  margin: 50px auto;
  text-align: left;
  width: 90%;
}
.event-controller-container .create-event-container .event-form .event-form-wrapper input {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  line-height: 32px;
  margin: 2px 0 10px;
  padding: 0 5px;
  width: 100%;
}
.event-controller-container .create-event-container .event-form .event-form-wrapper label {
  font-size: 13px;
  padding: 0 4px;
}
.event-controller-container .create-event-container .event-form .event-form-wrapper textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  height: 150px;
  resize: none;
  width: 100%;
}
.event-controller-container .create-event-container .event-form .event-form-wrapper .submit-event {
  background: #1a70b8;
  border: none;
  border-radius: 4px;
  color: white;
  float: right;
  font-size: 13px;
  height: 32px;
  margin: 10px 0;
  width: 75px;
}
.event-controller-container .create-event-container .event-form .event-form-wrapper .submit-event:hover {
  background: #08599C;
  cursor: pointer;
}
.event-controller-container .create-event-container .event-form .event-form-wrapper .submit-event:disabled {
  background: grey;
}
.event-controller-container .create-event-container .event-form .event-form-wrapper .submit-event:disabled:hover {
  background: grey;
}
.event-controller-container .create-event-container #map {
  flex: 7;
}
.event-controller-container .create-event-container .loader {
  height: 100%;
  width: 100%;
}
.event-controller-container .create-event-container .loader .spinner {
  background: red;
  bottom: 0;
  height: 50px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  z-index: 2;
}
.event-controller-container .events-container {
  height: 100%;
  width: 100%;
}
.event-controller-container .events-container .view-toggle-bar {
  border-bottom: 1px solid #ccc;
  height: 56px;
}
.event-controller-container .events-container .view-toggle-bar .toggle {
  height: 100%;
  margin: auto;
  position: relative;
  width: 200px;
}
.event-controller-container .events-container .view-toggle-bar .toggle__option {
  background: transparent;
  cursor: pointer;
  height: 100%;
  text-align: center;
  width: 50%;
}
.event-controller-container .events-container .view-toggle-bar .toggle .list-view {
  float: left;
}
.event-controller-container .events-container .view-toggle-bar .toggle .map-view {
  float: right;
}
.event-controller-container .events-container .view-toggle-bar .toggle .highlight {
  background-color: green;
  position: absolute;
  z-index: -1;
}
.event-controller-container .events-container .events-map-container {
  display: flex;
  width: 100%;
}
.event-controller-container .events-container .events-map-container #map {
  flex: 7;
  height: 100%;
}
.event-controller-container .events-container .events-map-container .maps-list-view {
  flex: 3;
}
.event-controller-container .events-container .events-map-container .map-search {
  left: 20px;
  position: absolute;
  top: 20px;
}
