@import '../../styles/variables';

:local {
  .navbar {
    font: @normal-font;
    height: @navbar-height;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    .signin-button {
      border: 1px solid @white;
      border-radius: 2px;
      color: @white;
      cursor: pointer;
      font: @normal-font;
      height: 36px;
      margin-right: 24px;
      text-align: center;
      width: 100px;
        
      
      &:hover {
        background-color: @white;
        color: @orange;
      }
    }

    .logout {
      border: 1px solid @white;
      border-radius: 2px;
      color: @white;
      font: @normal-font;
      line-height: 28px;
      margin: 7px 32px;
      padding: 0 12px;
      position: absolute;
      right: 0;
      top: 0;

      &:hover {
        color: @green;
      }
    }

    &-no-home {
      background: @black;
    }
  }

  .signin-dialog {
    left: 0;
    margin: 100px auto;
    position: fixed;
    right: 0;
    width: 300px;
    z-index: 2;
  }

  .home-button {
    color: @white;
    float: left;
    font: @large-lobster-font;
    height: @navbar-height;
    line-height: @navbar-height;
    padding: 0 60px 0 28px;
    width: 100px;
  }
    
  .signin-background {
    background: rgba(204, 204, 204, 0.5);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
}