.editor {
	width: 100%;
	height: 100%;
	background: white;

	editor-line.selected {
		outline: none;
	}

	.editor-line, .editor-recording {
		min-height: 20px;
		pointer-events: all;
	}
}

.section {
	min-height: 50px;
	pointer-events: none;
	outline: none;
}

body {
//For Developing
	background: black;
}