.event-controller-container {
  height: 100%;
  width: 100%;
  
  .create-event-container {
    width: 100%;
    
    .event-name {
      display: none;
      width: 100px;
    }
    
    .event-date {
      display: none;
      width: 100px;
    }
    
    .map-search {
      background-color: #fff;
      border: 1px solid transparent;
      border-radius: 2px 0 0 2px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      outline: none;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      height: 32px;
      margin: 10px 12px;
      padding: 0 11px 0 13px;
      text-overflow: ellipsis;
      width: 300px;
    }
    
    #map {
      height: 100%;
      width: 100%;
    }
  }
}