@font-face {
  font-family: 'Playfair';
  src: url('/fonts/PlayfairDisplay-Regular.ttf');
}

@font-face {
  font-family: 'Poiret';
  src: url('/fonts/PoiretOne-Regular.ttf');
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Light.ttf');
}

@font-face {
  font-family: 'Ubuntu-Italic';
  src: url('/fonts/Ubuntu-MediumItalic.ttf');
}

@font-face {
	font-family: 'Icomoon';
	src: url('/fonts/icomoon.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url('/fonts/OpenSans-Semibold.ttf');
}

@font-face {
  font-family: 'Museo Sans';
  src: url('/fonts/MuseoSans_500-webfont.ttf');
}

@font-face {
  font-family: 'Cyntho';
  src: url('/fonts/CynthoPro-Regular-webfont.ttf');
}

@font-face {
  font-family: 'Bariol';
  src: url('/fonts/Bariol_Regular.otf');
}

@font-face {
  font-family: 'Fenix';
  src: url('/fonts/Fenix-Regular.ttf');
}

@font-face {
  font-family: 'Garamond';
  src: url('/fonts/EBGaramond-Regular.ttf');
  //src: url('/fonts/LibreFranklin-Thin.otf');
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/fonts/SourceSansPro-Regular.otf');
}

@font-face {
  font-family: 'Source Sans Pro Light';
  src: url('/fonts/SourceSansPro-Light.otf');
}

@font-face {
  font-family: 'Libre Franklin Regular';
  src: url('/fonts/LibreFranklin-Regular.otf');
}

@font-face {
  font-family: 'Libre Franklin Light';
  src: url('/fonts/LibreFranklin-Thin.otf');
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  src: url('/fonts/Roboto-Thin.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 200;
  src: url('/fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto Bold';
  font-weight: 700;
  src: url('/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  src: url('/fonts/Roboto-Italic.ttf');
}
