@font-face {
  font-family: 'Playfair';
  src: url('/fonts/PlayfairDisplay-Regular.ttf');
}

@font-face {
  font-family: 'Poiret';
  src: url('/fonts/PoiretOne-Regular.ttf');
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Light.ttf');
}

@font-face {
  font-family: 'Ubuntu-Italic';
  src: url('/fonts/Ubuntu-MediumItalic.ttf');
}

@font-face {
	font-family: 'Icomoon';
	src: url('/fonts/icomoon.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url('/fonts/OpenSans-Semibold.ttf');
}

@font-face {
  font-family: 'Museo Sans';
  src: url('/fonts/MuseoSans_500-webfont.ttf');
}

@font-face {
  font-family: 'Cyntho';
  src: url('/fonts/CynthoPro-Regular-webfont.ttf');
}
