body {
  /**background-image: url('/images/ted-background.jpg');**/
  background-size: cover;
  font-family: sans-serif;
  margin: 0;
}

@keyframes blink {
  0% {
    border-right: 2px solid black;
  }
  
  49% {
    border-right: 2px solid black;
  }
  
  50% {
    border-right: 2px solid transparent;
  }
  
  99% {
    border-right: 2px solid transparent;
  }
  
  100% {
    border-right: 2px solid black;
  }
}

.home-container {
  .navbar {
    border-bottom: 1px solid #ccc;
    height: 56px;
    width: 100%;
    
    .signin-button {
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      cursor: pointer;
      height: 56px;
      float: right;
      line-height: 56px;
      margin: 0 56px;
      text-align: center;
      width: 100px;
      
      &:hover {
        background: #4b6cb7;
        border: none;
        color: white;
        font-family: 'Bariol';
        font-size: 16px;
      }
    }
  }

  .main-content {
    font-family: 'Garamond';
    height: 100%;
    position: relative;
    width: 100%;
    
    .header {
      border-bottom: 1px solid #ccc;
      left: 0;
      margin: auto;
      padding: 0 0 100px;
      right: 0;
      text-align: center;
      top: 0;
      
      &__title {
        font-size: 5em;
        margin: 20px 0 0;
        
        .cursor {
          animation: blink 1.25s infinite;
          -webkit-animation: blink 1.25s infinite;
        }
      }
      
      &__sub-title {
        font-size: 2em;
        margin: 0 0 32px;
      }
      
      .account-registration {
        display: flex;
        margin: auto;
        width: 600px;
        
        &__component, &__submit  {
          flex: 3;
          
          .email, .password, .submit-button {
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            height: 32px;
            margin: auto;
            padding: 4px;
          }
          
          .submit-button {
            cursor: pointer;
            font-family: 'Garamond';
            width: 120px;
          }
          
          .email, .password {
            font-family: 'Garamond';
            width: 200px;
          }
        }
        
        &__submit {
          flex: 1;
        }
      }
    }
    
    .connect, .create {
      display: flex;
      height: 500px;
      padding: 20px;
      
      .graphic {
        flex: 1;
      }
      
      .content {
        flex: 1;
        font-size: 20px;
        line-height: 32px;
      }
    }
  }
}