body {
  /**background-image: url('/images/ted-background.jpg');**/
  background-size: cover;
  font-family: sans-serif;
  margin: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.error {
  color: @red;
}

.testing-horizontal {
  width: 100%;
  height: 3px;
  background: black;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
}

.testing-vertical {
  width: 3px;
  height: 100%;
  background: black;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
}

@-webkit-keyframes blink {
  0% { border-right: 2px solid #ffffff; };
  49% { border-right: 2px solid #ffffff; };
  50% { border-right: 2px solid transparent; };
  99% { border-right: 2px solid transparent; };
  100% { border-right: 2px solid #ffffff; };
};

@keyframes blink {
  0% { border-right: 2px solid #ffffff; }
  49% { border-right: 2px solid #ffffff; }
  50% { border-right: 2px solid transparent; }
  99% { border-right: 2px solid transparent; }
  100% { border-right: 2px solid #ffffff; } 
};

.navbar {
  //background: -webkit-linear-gradient(to right, #f46b45 , @orange); /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to right, #f46b45 , @orange); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font: @normal-font;
  height: @navbar-height;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  &__no-home {
    background: #1B1F20;
  }

  button {
    float: right;
    font: inherit;
  }
}
  
.navbar {
  .signin-dialog {
    background: white;
    left: 0;
    margin: 100px auto;
    position: fixed;
    right: 0;
    width: 300px;
    z-index: 2;
  }
  
  .home-button {
    color: @white;
    float: left;
    font: @large-lobster-font;
    height: @navbar-height;
    line-height: @navbar-height;
    padding: 0 60px 0 28px;
    width: 100px;
  }
    
  .signin-background {
    background: rgba(204, 204, 204, 0.5);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
    
  a {
    color: inherit;
    text-decoration: none;
  }
  
  .user-options {
    background: rgba(0, 0, 0, .59);
    color: white;
    position: absolute;
    right: 0;
    top: @navbar-height;
    width: 200px;
    z-index: 2;
    
    .dropdown-button {
      font: @normal-font;
      height: 48px;
      line-height: 48px;
      text-align: center;
      width: 100%;
      z-index: 2;
      
      &:hover {
        background: #5C8CA7;
        border: none;
        color: white;
        font: @normal-font;
        line-height: 48px;
      }
    }
  }
  
  .signin-button {
    border: 1px solid @white;
    border-radius: 2px;
    color: @white;
    cursor: pointer;
    float: right;
    font: @normal-font;
    height: 36px;
    letter-spacing: .5px;
    line-height: 36px;
    margin: 8px 24px 8px 0;
    text-align: center;
    width: 100px;
    z-index: 2;
      
    
    &:hover {
      background-color: @white;
      color: @orange;
    }
  }
  
  .home {
    background: url('/images/harmburger.svg') no-repeat center;
    background-size: @navbar-height;
    border-right: 1px solid #ccc;
    cursor: pointer;
    font-family: 'Bariol';
    height: @navbar-height;
    float: right;
    line-height: @navbar-height;
    text-align: center;
    width: 76px;
  }
}

.home-container {
  .main-content {
    color: @white;
    font-family: 'Garamond';
    position: relative;
    width: 100%;

    .main-background {
      background: linear-gradient(to bottom right, @orange, @pink);
      background-size: cover;
      border-bottom: 1px solid #ccc;
      color: #ffffff;
      height: 100%;
      min-height: 400px;
      position: fixed;
      width: 100%;
      z-index: -1;
    }
    
    .header {
      color: #ffffff;
      height: 100%;
      margin: auto;
      position: relative;
      
      .header-container {
        bottom: 0;
        left: 0;
        height: 200px;
        margin: auto;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;

        &__title {
          font: @gigantic-lobster-font;
          font-size: 5em;
          letter-spacing: 4px;
          margin: 0;
          
          .cursor {
            animation: blink 1s infinite;
            -webkit-animation: blink 1s infinite;
          }
        }
        
        &__sub-title {
          font-size: 2em;
          letter-spacing: .5px;
          margin: 0 0 16px;
          padding: 0 100px; 
        }
        
        .demo-container {
          text-align: center;
          
          &__button {
            background: white;
            border: none;
            border-radius: 2px;
            cursor: pointer;
            font: @normal-font;
            height: 40px;
            width: 150px;
          }
        }
        
        .account-registration {
          display: flex;
          margin: auto;
          width: 250px;
          
          .register-button {
            background-color: @green;
            border: none;
            border-radius: 2px;
            cursor: pointer;
            color: @white;
            flex: 1;
            font: @normal-font;
            height: 40px;
            letter-spacing: .5px;
            padding: 4px;
            
            &:hover {
              background-color: @white;
              color: @orange;
            }
          }
          
          .signin-button {
            background: transparent;
            border: 1px solid @white;
            border-radius: 2px;
            color: white;
            cursor: pointer;
            flex: 1;
            font: @normal-font;
            height: 40px;
            margin: 0 10px;
            padding: 4px;
            
            &:hover {
              background-color: @white;
              color: @orange;
            }
          }
          
          &__component, &__submit  {
            flex: 3;
            
            .email, .password, .submit-button {
              border: 1px solid #ccc;
              border-radius: 4px;
              font-size: 16px;
              height: 32px;
              margin: auto;
              padding: 4px;
            }
            
            .submit-button {
              cursor: pointer;
              font-family: 'Garamond';
              width: 120px;
            }
            
            .email, .password {
              font-family: 'Garamond';
              width: 200px;
            }
          }
          
          &__submit {
            flex: 1;
          }
        }
      }
    }
    
    .connect, .create, .collaborate {
      display: flex;
      height: 500px;
      padding: 20px;
      
      .graphic {
        flex: 1;
      }
      
      .content {
        flex: 1;
        font-size: 20px;
        line-height: 32px;
      }
    }
    
    .collaborate {
      background-size: cover;
      background-repeat: no-repeat;
      
      .content {
        background: rgba(0, 0, 0, .69);
        color: white;
        padding: 20px;
      }
    }
  }
}