.profile-one {
  width: 100%;
  
  .navbar {
    border-bottom: 1px solid #ccc;
    height: 56px;
    width: 100%;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  }

  .profile-container {
    display: flex;
    height: 100%;
    
    .user-info-container {
      flex: 1 1 280px;
      font-family: 'Source Sans Pro Light';
      text-align: left;
      -webkit-flex: 1 1 280px;
      /*background: rgba(242, 185, 56, 0.7);*/
      /* background: rgba(67, 141, 156, 0.6); */
      /* background-color: rgba(28, 155, 193, 0.4); */
      background-color: #1EBBA6;
      -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
      
      .action-container {
        margin: 10px;
        padding: 15px;
        text-align: center;
        
        a {
          text-decoration: none;
        }
        
        .action {
          border: 1px solid #ffffff;
          border-radius: 4px;
          color: white;
          display: inline-block;
          padding: 4px;
          margin: 8px;
          width: 70px;
        }
      }
      
      .user-info {
        background: rgba(67, 141, 156, 0.6);
        padding: 15px;
        color: white;
        
        &__username {
          font-size: 24px;
          letter-spacing: .5;
          padding: 10px;
        }
        
        &__events {
          padding: 10px 0 0;
        }
        
        &__name {
          display: inline;
        }
        
        &__location {
          display: inline;
        }
        
        &__followers {
          padding: 0 0 10px;
        }
        
        &__avatar {
          padding: 20px 0;
          text-align: center;
          
          img {
            border-radius: 4px;
            height: 75px;
            width: 75px;
            border: 4px solid #fff;
          }
        }
      }
    }
    
    .user-display-container {
      flex: 10 600px;
      -webkit-flex: 10 600px;
    }
  }
}

.profile-two {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 100%;
  
  .navbar {
    background: #f46b45; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f46b45 , #eea849); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f46b45 , #eea849); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 56px;
    width: 100%;
    flex: 0 1 56px;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  }

  .profile-container {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    
    .user-info-container {
      flex: 1 0 280px;
      font-family: 'Source Sans Pro Light';
      text-align: center;
      -webkit-flex: 1 0 280px;
      -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
      
      .action-container {
        text-align: center;
        
        a {
          text-decoration: none;
        }
        
        .action {
          border: 1px solid #5C8CA7;
          border-radius: 4px;
          color: #5C8CA7;
          display: inline-block;
          padding: 4px;
          margin: 8px;
          width: 70px;
          
          &:hover {
            background: #5C8CA7;
            color:white;
          }
        }
      }
      
      .user-info-actions {
        border-bottom: 1px solid #F57A34;
        display: flex;
        position: relative;
        
        .after {
          border-bottom: 10px solid #F57A34;
          border-right: 10px solid transparent;
          border-left: 10px solid transparent;
          bottom: 0;
          content: ' ';
          height: 0;
          position: absolute;
          width: 0;
        }
        
        &__followers, &__events, &__following {
          display: inline-block;
          flex: 1;
          padding: 10px 0;
          text-decoration: none;
          color: #5C8CA7;
          
          &:hover {
            background: #F57A34;
            color:white;
          }
        }
        
        &__following {
          border-right: none;
        }
      }
      
      .information-container {
        list-style: none;
        margin: 0;
        max-height: 500px;
        overflow: scroll;
        padding: 0;
        
        li {
          display: block;
        }
        
        .user {
          border-bottom: 1px solid #cccccc;
          padding: 10px;
          text-align: left;
          
          img {
            background: black;
            height: 40px;
            width: 40px;
          }
          
          .user-information {
            display: inline-block;
            font-size: 14px;
            padding: 0 10px;
            vertical-align: top;
          }
        }
      }
      
      .user-info {
        padding: 15px;
        border-top: 1px solid #F57A34;
        border-bottom: 1px solid #F57A34;
        
        &__username {
          font-size: 20px;
          letter-spacing: .5;
        }
        
        &__events {
          padding: 10px 0 0;
        }
        
        &__name {
          display: inline;
        }
        
        &__location {
          display: inline;
        }
        
        &__followers {
          padding: 0 0 10px;
        }
        
        &__avatar {
          padding: 20px 0;
          
          img {
            border-radius: 4px;
            height: 75px;
            width: 75px;
            border: 2px solid #AAAAAA;
          }
        }
      }
    }
    
    .user-display-container {
      flex: 10 320px;
      -webkit-flex: 10 320px;
    }
  }
}
  
.profile-three {
  width: 100%;
  
  .navbar {
    background: #f46b45; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f46b45 , #eea849); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f46b45 , #eea849); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 56px;
    width: 100%;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  }

  .profile-container {
    display: flex;
    height: 100%;
    
    .user-info-container {
      flex: 1 1 280px;
      font-family: 'Source Sans Pro';
      text-align: center;
      -webkit-flex: 1 1 280px;
      background: #ffffff;
      -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
      
      .action-container {
        margin: 10px;
        padding: 15px;
        text-align: center;
        
        a {
          text-decoration: none;
        }
        
        .action {
          border: 1px solid #ffffff;
          border-radius: 4px;
          color: white;
          display: inline-block;
          padding: 4px;
          margin: 8px;
          width: 70px;
        }
      }
      
      .user-info {
        //background: rgba(67, 141, 156, 0.6);
        //background: rgba(23, 19, 10, 0.91);
        border-top: 1px solid #5C8CA7;
        border-bottom: 1px solid #5C8CA7;
        display: flex;
        
        &__followers, &__events, &__following {
          display: inline-block;
          border-right: 1px solid #5C8CA7;
          flex: 1;
          padding: 10px 0;
          text-decoration: none;
          color: #5C8CA7;
        }
        
        &__username {
          font-size: 20px;
          letter-spacing: .5;
          padding: 10px 0 0;
        }
        
        &__following {
          border-right: none;
        }
        
        &__name, &__location {
          font-family: 'Source Sans Pro Light';
          font-size: 16px;
        }
        
        &__avatar {
          text-align: left;
          
          img {
            height: 100px;
            width: 100px;
          }
        }
      }
    }
    
    .user-display-container {
      flex: 10 600px;
      -webkit-flex: 10 600px;
    }
  }
}

.profile-four {
  .navbar {
    background: #f46b45; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f46b45 , @orange); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f46b45 , @orange); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 56px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  }
  
  .profile-container {
    margin: @navbar-height 0 0;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.app-container {
  button {
    background: none;
    border: none;
    border-left: 1px solid @grey-light;
    color: @white;
    font-size: 14px;
    height: 100%;
    outline: none;
    width: 150px;
  }
  
  .profile-container {
    margin: @navbar-height 320px 0 0;
    position: relative;
    
    .profile-header {
      position: relative;

      .filter {
        background: 
          /* top, transparent red, faked with gradient */ 
          linear-gradient(
            rgba(0, 0, 0, 0.45), 
            rgba(0, 0, 0, 0.45)
          ),
          url('/images/mountains_fog.jpg');
        background-size: cover;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
      }
      
      .isLooking {
        background: #5C8CA7;
        border-bottom-left-radius: 2px;      
        border-bottom-right-radius: 2px;
        color: white;
        font: @normal-font;
        height: 48px;
        left: 20px;
        line-height: 48px;      
        position: fixed;
        text-align: center;
        top: @navbar-height;
        width: 200px;
      }
      
      .uploader {
        display: none;
      }
      
      .profile {
        box-sizing: border-box;
        color: white;
        font: @normal-font;
        margin: @navbar-height 0 0;
        padding: 20px;
        text-align: center;
        width: 100%;
        
        &__image {
          background-image: url('/images/railroad.jpeg');
          background-position: center;
          background-size: cover;
          border: 2px solid @white;
          border-radius: 50%;
          height: 100px;
          margin: auto;
          width: 100px;
        }
        
        &__name {
          font: @massive-garamond-font;
          padding: 8px;
        }
        
        &__title {
          padding: 4px;
        }
        
        &__follow, &__message {
          border: none;
          color: @white;
          cursor: pointer;
          font: @normal-font;
          height: 32px;
          margin: 12px;;
          width: 100px;
        }
        
        &__follow {
          background: #E79D10;
          
          &:hover {
            background: #D7920F;
          }
        }
        
        &__message {
          background: #F55923;
          
          &:hover {
            background: #F3470B;
          }
        }
      }
    }
    
    .profile-about {
      padding: 24px;

      &__icon {
        display: inline-block;
        height: 40px;
        width: 40px;
      }
      
      &__title {
        font: @thin-large-font;
      }
      
      &__content {
        font: @normal-font;
      }
      
      &__nav-bar {
        border-bottom: 1px solid @grey-light;
        box-shadow: 0 -3px 8px 0 rgba(0, 0, 0, 0.2);
        height: 44px;
        width: 100%;
        
        button {
          background: none;
          border: none;
          border-right: 1px solid @grey-light;
          color: black;
          font: @normal-font;
          height: 44px;
          line-height: 44px;
          width: 100px;
        }
      }
    }
  }
  
  .navigation-sidebar {
    &__pullout {
      background: rgba(0, 0, 0, 0.4);
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      height: 48px;
      position: fixed;
      right: 0;
      top: 100px;
      width: 38px;
      
      &--is-open {
        right: 320px;
      }
    }
    
    &__content {
      background: @white;
      box-shadow: -3px 6px 3px -1px rgba(0, 0, 0, 0.4);
      bottom: 0;
      position: fixed;
      right: 0;
      top: 44px;
      width: 320px;
      
      &__filter-bar {
        border: 1px solid @grey-light;
        border-radius: 2px;
        flex: 1;
        font: @normal-font;
        height: 32px;
        line-height: 32px;
        margin: 8px;
        outline: none;
        padding: 4px;
        text-align: center;
      }
      
      &__filter-bar-container {
        display: flex;
      }
      
      &__options {
        border-bottom: 1px solid @grey-light;
        border-top: 1px solid @grey-light;
        width: 100%;
        
        &--option {
          cursor: pointer;
          flex: 1;
          font: @medium-font;
          font-variant-ligatures: no-common-ligatures;
          height: 32px;
          line-height: 32px;
          padding: 4px 24px;
          text-align: left;

          &:hover {
            color: @blue;
          }

          &--active {
            color: @blue;
          }
        }
      }
    }
  }

  .edit-profile-container {
    margin: 100px auto;
    max-width: 700px;

    .map {
      display: none;
    }

    &__header {
      border-bottom: 10px solid @orange;
      font: @title-light-font;
      padding: 12px 12px 12px 0;
    }

    &__field {
      border: 1px solid @grey-light;
      border-radius: 1px;
      display: block;
      font: @normal-font;
      height: 40px;
      margin: 24px auto 24px 0;
      max-width: 700px;
      min-width: 300px;
      outline: none;
      width: 100%;

      &--label {
        background: @grey-light;
        border-right: 1px solid @grey-light;
        box-sizing: border-box;
        color: @grey-dark;
        display: inline-block;
        font: @regular-font;
        height: 100%;
        line-height: 40px;
        text-align: center;
        width: 120px;
      }

      &__name, &__profession, &__years, &__location {
        border: none;
        color: black;
        font: inherit;
        height: 40px;
        outline: none;
        padding: 6px 12px;
        width: 78%;
      }

      &__instruments {
        border: 1px solid @grey-light;
        border-radius: 1px;
        margin: 0;
        max-height: 500px;
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;

        &--header {
          font: @large-font;
          margin: 20px 0 0;
          text-align: center;
        }

        &--submit-button {
          background: @blue;
          color: @white;
          cursor: pointer;
          font: @large-font;
          height: 40px;
          line-height: 40px;
          margin: 20px 0;
          text-align: center;
          width: 100%;

          &:hover {
            background: @blue-hover;
          }
        }

        &--instrument:not(:last-child) {
          border-bottom: 1px solid @grey-light;
        }

        &--instrument {
          font: @normal-font;
          height: 40px;
          line-height: 40px;
          padding: 4px 12px;
          width: 100%;

          &:hover {
            background: @grey-light;
            cursor: pointer;
          }

          &--checkbox {
            margin: 0 12px;
          }
        }
      }
    }
  }
}