@border-radius: 2px;

@facebook-blue: #3B5998;
@facebook-hover: #5772AC;
@message-blue: rgba(00, 128, 236, .4);

@grey-light: #eee;
@grey-medium: #b1b1b1;

@blue: #1A70B8;
@green: #569A00;
@purple: #2C0B2C;

@cyntho: 'Cyntho';
@museo: 'Museo Sans';
@open: 'Open Sans';
@bariol: 'Bariol';

@massive-font-size: 48px;
@title-font-size: 36px;
@normal-font-size: 14px;
@message-font-size: 13px;

@message-font: 500 @message-font-size @cyntho;
@editor-font: 500 @normal-font-size @bariol;

@normal-line-height: 20px;
